fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-core

sentence-transformers

faiss-cpu

pypdf
pdfplumber
pymupdf

pytesseract
pillow